services:
  nuxt:
    build: .
    restart: unless-stopped
    ports:
      - "3005:3000"
    environment:
      - NODE_ENV=production
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
